## Examples of the class

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import the latest pickle file 
path = r'/Users/elvachen/Documents/DA Learning/Immersion-data resources'
df_ods_prds = pd.read_pickle(os.path.join(path, 'prepared data', 'orders_products_merged_47.pkl'))
df_ods_prds.head()

,order_id,user_id,order_sequency,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Most orders

In [3]:
# Create a subset dataframe with the first one million rows in the original dataframe
df=df_ods_prds[:1000000]

In [4]:
# Check the shape
df.shape

(1000000, 17)

In [5]:
# See the first 30 rows of the dataframe
df.head(10)

,order_id,user_id,order_sequency,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Most orders
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Average orders
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Average orders

In [6]:
# Group "product_name" together
df.groupby('product_name')

In [7]:
# Group "department_id" and calculate mean for "order_number"
df.groupby('department_id').agg({'order_sequency': ['mean']})

              order_sequency
                        mean
department_id
4                  18.825780
7                  17.472355
13                 17.993423
14                 19.246334
16                 19.463012
17                 11.294069
19                 19.305237
20                 17.599636

In [8]:
# Another way to calculate mean
df.groupby('department_id')['order_sequency'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_sequency, dtype: float64

In [9]:
# Performing Multiple Aggregations
df.groupby('department_id').agg({'order_sequency': ['mean', 'min', 'max']})

              order_sequency
                        mean min max
department_id
4                  18.825780   1  99
7                  17.472355   1  99
13                 17.993423   1  99
14                 19.246334   1  99
16                 19.463012   1  99
17                 11.294069   1  98
19                 19.305237   1  99
20                 17.599636   1  99

In [10]:
# Aggregate with transform function
df_ods_prds['max_order'] = df_ods_prds.groupby(['user_id'])['order_sequency'].transform(np.max)

In [11]:
# Check the output
df_ods_prds.head(100)

,order_id,user_id,order_sequency,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Most orders,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Average orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Most orders,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Average orders,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Average orders,22

In [12]:
# Change the number of display list in Jupyter
pd.options.display.max_rows = None

In [13]:
# Deriving column with loc()
df_ods_prds.loc[df_ods_prds['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [14]:
df_ods_prds.loc[(df_ods_prds['max_order'] <= 40) & (df_ods_prds['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [15]:
df_ods_prds.loc[df_ods_prds['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [16]:
# Count the numbers of the value in the new column
df_ods_prds['loyalty_flag'].value_counts(dropna= False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [17]:
# List specific columns
df_ods_prds[['user_id', 'loyalty_flag', 'order_sequency']].head(60)

    user_id      loyalty_flag  order_sequency
0         1      New customer               1
1         1      New customer               2
2         1      New customer               3
3         1      New customer               4
4         1      New customer               5
5         1      New customer               6
6         1      New customer               7
7         1      New customer               8
8         1      New customer               9
9         1      New customer              10
10       15  Regular customer              15
11       15  Regular customer              17
12       15  Regular customer              18
13       15  Regular customer              21
14       15  Regular customer              22
15       19      New customer               2
16       19      New customer               5
17       19      New customer               7
18       21  Regular customer              10
19       31  Regular customer              10
20       31  Regular customer              17
21       43  Regular customer               6
22       43  Regular customer               9
23       52  Regular customer               1
24       52  Regular customer               2
25       52  Regular customer               3
26       52  Regular customer               5
27       52  Regular customer               7
28       52  Regular customer               9
29       52  Regular customer              10
30       52  Regular customer              11
31       52  Regular customer              12
32       52  Regular customer              15
33       52  Regular customer              17
34       52  Regular customer              18
35       52  Regular customer              19
36       52  Regular customer              21
37       67  Regular customer               1
38       67  Regular customer               2
39       67  Regular customer               3
40       67  Regular customer               4
41       67  Regular customer               5
42       67  Regular customer               6
43       67  Regular customer               8
44       67  Regular customer               9
45       67  Regular customer              10
46       67  Regular customer              11
47       67  Regular customer              12
48       67  Regular customer              13
49       67  Regular customer              14
50       67  Regular customer              16
51       67  Regular customer              18
52       67  Regular customer              19
53       67  Regular customer              21
54       67  Regular customer              22
55       67  Regular customer              23
56       81      New customer               3
57       81      New customer               5
58       82  Regular customer               1
59       82  Regular customer               3

## Task of 4.8

In [18]:
# 4.8.2 Find the aggregated mean of the “order_number” column grouped by “department_id” for entire dataframe
df_ods_prds.groupby('department_id')['order_sequency'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_sequency, dtype: float64

# 4.8.3 How do the results for the entire dataframe differ from those of the subset?
Compare to the subset, the result of entire dataframe showed means of all department_id, rather than parts of department_id. Also, the values of means changed a little, as the observation range of entire dataframe was larger than the subset.

In [19]:
# 4.8.5 The spending habits of the three types of customers you identified
df_ods_prds.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,10284093.0,10.386336,328.017787,1.0,4.2,7.4,11.2,99999.0
New customer,6243990.0,13.294670,597.560299,1.0,4.2,7.4,11.3,99999.0
Regular customer,15876776.0,12.495717,539.720919,1.0,4.2,7.4,11.3,99999.0

According to above output, Loyal-customer group spent the lowest average price with fewer range, while New-customer group spent the highest average price with wider range.

In [20]:
# 4.8.6 Create a spending flag for each user based on the average price across all their orders using specific criteria
    # Create a new column to contain average price for each customer
df_ods_prds['avg_price']=df_ods_prds.groupby('user_id')['prices'].transform(np.mean)
df_ods_prds.head(30)

,order_id,user_id,order_sequency,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Average orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Most orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,First lowest day,Most orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,27,Regular customer,6.356287
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,27,Regular customer,6.356287
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Most orders,27,Regular customer,6.356287
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Average orders,27,Regular customer,6.356287
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,27,Regular customer,6.356287
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular day,Most orders,27,Regular customer,6.356287

In [21]:
    # Create a new column to conctain spending flag
df_ods_prds.loc[df_ods_prds['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [22]:
df_ods_prds.loc[df_ods_prds['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [23]:
# Check the output
df_ods_prds['spending_flag'].value_counts(dropna= False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [24]:
# 4.8.7 Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column
    # Create a new column to contain median of 'days_since_prior_order'
df_ods_prds['median_days_s_p_ods']=df_ods_prds.groupby('user_id')['days_since_prior_order'].transform(np.median)
df_ods_prds.head(30)

,order_id,user_id,order_sequency,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days_s_p_ods
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Second lowest day,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,First lowest day,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,First lowest day,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,First lowest day,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Most orders,9,New customer,8.372059,Low spender,6.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Most orders,9,New customer,8.372059,Low spender,6.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,First lowest day,Average orders,9,New customer,8.372059,Low spender,6.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders,33,Regular customer,7.012683,Low spender,7.5
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,9.0,Mid-range product,Regularly busy,Second lowest day,Average orders,20,Regular customer,8.137793,Low spender,6.0
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,9.0,Mid-range product,Regularly busy,Second lowest day,Most orders,20,Regular customer,8.137793,Low spender,6.0
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,9.0,Mid-range product,Least busy,First lowest day,Most orders,11,Regular customer,7.444898,Low spender,10.0
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,First lowest day,Most orders,11,Regular customer,7.444898,Low spender,10.0
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,27,Regular customer,6.356287,Low spender,8.0
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,27,Regular customer,6.356287,Low spender,8.0
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,27,Regular customer,6.356287,Low spender,8.0
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Most orders,27,Regular customer,6.356287,Low spender,8.0
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Average orders,27,Regular customer,6.356287,Low spender,8.0
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,9.0,Mid-range product,Regularly busy,Second busiest day,Most orders,27,Regular customer,6.356287,Low spender,8.0
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,9.0,Mid-range product,Regularly busy,Regular day,Most orders,27,Regular customer,6.356287,Low spender,8.0

In [25]:
    # Create a new column to contain frequency flag
fqcy_flag=[]

    for value in df_ods_prds['median_days_s_p_ods']:
        if value > 20:
            fqcy_flag.append('Non-frequent customer')
        elif (value > 10) & (value <= 20):
            fqcy_flag.append('Regular customer')
        else:
            fqcy_flag.append('Frequent customer')
df_ods_prds['frequency_flag']= fqcy_flag
df_ods_prds.head()

,order_id,user_id,order_sequency,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days_s_p_ods,frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regular day,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Second lowest day,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Second lowest day,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,First lowest day,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,First lowest day,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [26]:
# Check to output
df_ods_prds['frequency_flag'].value_counts(dropna= False)

Frequent customer        21559858
Regular customer          7208564
Non-frequent customer     3636437
Name: frequency_flag, dtype: int64

In [27]:
# 4.8.8 Export your dataframe as a pickle file
df_ods_prds.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_48.pkl'))